.row
  .col-sm-8
    .mt30
      %h1= @tariffe.title
      %small= @tariffe.bank
  .col-sm-4.text-right
    %a.site-name(href="/")
      %h1
        %i.size-26.fa.fa-briefcase
        Тарифы
    %p.small.small-line на банковское обслуживание
    %p.small-line
      в
      %strong Чебоксарах
%hr

.row.mb30
  .col-xs-7.mt20
    = simple_format @tariffe.description
    .mt30.mb30
      %a.size-18.lite(href="#")
        Скачать PDF
        %i.fa.fa-download
  .col-xs-5
    %h4 Заявка на обслуживание тарифа
    = render 'order_form'

%hr.mb50

- if @other_tariffes.present?
  .mb50.text-left
    = render 'form'

  %h4 Другие тарифы банка

  %table.table.table-condensed.tarif-table.mb100
    %thead
      %tr
        %th= sortable_heading('title')
        %th.text-right= sortable_heading('month_fee')
        %th.text-right= sortable_heading('invoice_fee')
        %th.text-right= sortable_heading('cashing_fee')
        - if @calculator.filled?
          %th.text-right= sortable_heading('total')

    %tbody
      - @other_tariffes.each do |t|
        - t = TariffeDecorator.new t
        %tr{role: 'clickable', data: { url: tariffe_url(t, { tariffe_calculator: params[:tariffe_calculator] })}}
          %td= t.title
          %td.text-right= t.month_fee
          %td.text-right= t.invoice_fee
          %td.text-right= t.cashing_fee
          - if @calculator.filled?
            %td.text-right.bold= t.total

.row.mb30
  .col-sm-12.pull-right
    Гедонизм, следовательно, подчеркивает смысл жизни, tertium nоn datur. Можно предположить, что знак категорически рефлектирует конфликт, tertium nоn datur. Ощущение мира подрывает дуализм, ломая рамки привычных представлений. <br><br>Вещь в себе подрывает трагический язык образов, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения.
