.row
  .col-sm-8
    .mt30
      %h1= @tariffe.title
      %small= @tariffe.bank
  .col-sm-4.text-right
    %a.site-name(href="/")
      %h1
        %i.size-26.fa.fa-briefcase
        Тарифы
    %p.small.small-line на банковское обслуживание
    %p.small-line
      в
      %strong Чебоксарах
%hr

.row.mb30
  .col-xs-7.mt20
    = simple_format @tariffe.description
    .mt30.mb30
      %a.size-18.lite(href="#")
        Скачать PDF
        %i.fa.fa-download
  .col-xs-5
    %h4 Заявка на обслуживание тарифа
    = render 'order_form'

%hr.mb50

.mb50.text-left
  = render 'form'

%h4 Другие тарифы банка
%table.table.table-condensed.tarif-table.mb100
  %thead
    %tr
      %th
        Тариф
        %i.fa.fa-angle-down
      %th.text-right Месячное обслуживание
      %th.text-right Стоимость платежного поручения
      %th.text-right Процент за снятие на хознужды

  %tbody
    %tr
      %td Название тарифа1
      %td.text-right 100 руб.
      %td.text-right 100 руб.
      %td.text-right 100 руб.
    %tr
      %td Название тарифа2
      %td.text-right 200 руб.
      %td.text-right 200 руб.
      %td.text-right 200 руб.
    %tr
      %td Название тарифа3
      %td.text-right 300 руб.
      %td.text-right 300 руб.
      %td.text-right 300 руб.
    %tr
      %td Название тарифа4
      %td.text-right 400 руб.
      %td.text-right 400 руб.
      %td.text-right 400 руб.

.row.mb30
  .col-sm-12.pull-right
    Гедонизм, следовательно, подчеркивает смысл жизни, tertium nоn datur. Можно предположить, что знак категорически рефлектирует конфликт, tertium nоn datur. Ощущение мира подрывает дуализм, ломая рамки привычных представлений. <br><br>Вещь в себе подрывает трагический язык образов, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения.
