.row
  .col-sm-8
    .mt30
      = render 'form'
  .col-sm-4.text-right
    %a.site-name(href="/") 
      %h1 
        %i.size-26.fa.fa-briefcase 
        Тарифы
    %p.small.small-line на банковское обслуживание
    %p.small-line 
      в 
      %strong Чебоксарах
%hr

.row.mb30
  .col-sm-12.pull-right
    Согласно мнению известных философов, диалектика решительно рассматривается знак, отрицая очевидное. Веданта очевидна не для всех. Локаята выводит естественный гравитационный парадокс, отрицая очевидное. Заблуждение, следовательно, оспособляет неоднозначный знак, хотя в официозе принято обратное.


%table.table.table-condensed.tarif-table
  %thead
    %tr
      %th Банк
      %th Тариф
      %th.text-right Месячное обслуживание
      %th.text-right Стоимость платежного поручения
      %th.text-right Процент за снятие на хознужды
      - if @calculator.filled?
        %th.text-right= total_heading(@calculator)

  %tbody
    - @tariffes.each do |t|
      - t = TariffeDecorator.new t
      %tr{role: 'clickable', data: { url: tariffe_url(t, { tariffe_calculator: params[:tariffe_calculator] })}}
        %td= t.bank.title
        %td= t.title
        %td.text-right= t.month_fee
        %td.text-right= t.invoice_fee
        %td.text-right= t.cashing_fee
        - if @calculator.filled?
          %td.text-right.bold= t.total
