.row.mb20
  .col-md-6
    .mt40
      %input.form-control{:type => "text"}
  .col-md-6.text-right
    %h1 Тарифы
    %p.small.small-line на банковское обслуживание
    %p.small.small-line 
      в 
      %strong Чебоксарах

%table.table.table-condensed.table-striped.tarif-table
  %thead
    %tr
      %th Тариф
      %th Банк
      %th Месячное обслуживание
      %th Стоимость платежного поручения
      %th Процент за снятие на хознужды
      %th pdf
  %tbody
    - @tariffes.each do |t|
      - t = TariffeDecorator.new t
      %tr
        %td= t.bank.title
        %td= link_to t.title, tariffe_url(t)
        %td= t.month_fee
        %td= t.invoice_fee
        %td= t.cashing_fee
        %td= t.pdf_link
